.el-submenu .el-menu-item {
    padding-left: 50px !important;
}
.el-submenu__title {
    font-size: 16px;
}
.el-menu-item.is-active {
    color: #fff;
    background-color: rgba(64, 158, 255, 0.5) !important;
}
.is-active.is-opened .el-submenu__title {
    color: #fff;
    background-color: rgb(64, 158, 255) !important;
}
.el-menu--vertical {
    line-height: 56px;
    background: #fff;
}